@use "../../../app/styles/mixins" as *;

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background: #121212;
  transition: background 0.3s;
}

.inner {
  min-height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.logoLink {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  display: block;
  width: auto;
  height: 20px;
}

.nav {
  // margin-left: auto;

  @include tablet {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    border-radius: 0 16px 16px 0;
    padding: 60px 16px;
    width: 80%;
    height: 100vh;
    max-width: 300px;
    background: var(--bg-surface);
    visibility: hidden;
    transition:
      visibility 0.3s,
      translate 0.3s;
    translate: -100% 0;
  }
}

.navVisible {
  @include tablet {
    visibility: visible;
    translate: 0;
  }
}

.list {
  display: flex;
  align-items: center;
  gap: 40px;

  @include tablet {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}

.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-decoration: none;
  color: #f0f0f0;
  transition: color 0.3s;

  @include tablet {
    font-size: 24px;
    color: var(--text-primary);
  }

  @include hover {
    color: var(--accent);
  }

  &:active {
    color: var(--accent-active);
  }
}

.activeLink {
  font-weight: 600;
  color: var(--accent);
  opacity: 1;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}
