.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 28px;
  color: var(--text-primary);
}
