/* stylelint-disable */
$browser-context: 16; // Default

@mixin btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

@mixin image-set($pathToImage) {
  background-image: url("#{$pathToImage}.jpg");
  background-image: image-set(
    "#{$pathToImage}.webp" type("image/webp"),
    "#{$pathToImage}.jpg" type("image/jpg")
  );
}

@mixin footerToBottom {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
